<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="localhost" connectionString="SERVER=localhost; DATABASE=airatlantique; PORT=3306; UID=root; PASSWORD=sohcahtoa"></add>
    <add name="prod" connectionString="SERVER=172.16.2.2; DATABASE=y_marguerite; PORT=3306; UID=y_marguerite; PASSWORD=Epsi2019!"></add>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>